/*
 *
 * Bootstrap overrides
 *
 */

.navbar-inverse {
  border-radius: 0;
}

h1 {
  margin-top: 0;
}

.h1, h1 {
  font-size: 20px;
}

a.navbar-brand {
  font-family: 'Quicksand', sans-serif;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.well {
  border-radius: 0;
}

/*
 *
 * Custom stylesheets
 *
 */

body {
  font-family: 'Open Sans', sans-serif;
}
