/*
 *
 * Bootstrap overrides
 *
 */

.navbar-inverse {
  border-radius: 0;
}

h1 {
  margin-top: 0;
}

.h1, h1 {
  font-size: 20px;
}

a.navbar-brand {
  font-family: 'Quicksand', sans-serif;
}

.navbar-inverse .navbar-brand {
  color: rgb(39, 209, 70);
}

.well {
  border-radius: 0;
}

/*
 *
 * Custom stylesheets
 *
 */

body {
  font-family: 'Open Sans', sans-serif;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: rgb(39, 209, 70);
}
